@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-weight: 300;
    margin: 0;
    padding: 0;
    border: none;
}

/* generic */
/* tag elements */
a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}

/* direction elements */
/* back to top button */
.bck-to-top {
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #000; 
    opacity: 0.2;
    color:#fff; 
    cursor: pointer; 
    padding: 18px 25px; 
    border-radius: 50%; 
    font-size: 18px; 
    transition: all .5s;
}

.bck-to-top::after {
    border: none;
}

button:focus {
    outline: none;
}

.bck-to-top:hover {
    opacity: 1;
}

.flex {
    display: flex;
}

.align-c {
    align-items: center;
}

.flex-end {
    align-items: flex-end;
}

.jc {
    justify-content: center;
}

.container-margin-y {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.text-black {
    color: #000 !important;
}

.text-white {
    color: #fff !important;
}

.form-control:focus {
    color: #000;
    background-color: #fff;
    border-color: #000;
    outline: 0;
    box-shadow: none;
}

/* display elements */

.hidden {
    display: none;
}

.active {
    color: #000;
}

.cursor-none {
    cursor: default;    
}

.mobile-design, .mobile-design-days {
    display: none;
}

.main-header {
    text-transform: capitalize;
}

.navbar-toggler-icon i {
    color: #fff;
    transition: all .5s;
}

.navbar-toggler-icon i:hover {
    color: #a8a8a8;
}

/* hero-cards */
.card {
    position: relative;
    border: none !important;
}

.image-wrapper {
    width: 105%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    left: -1.5px;
}

.image-wrapper img {
    max-width: 100%;
}

.swiper-navBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    text-align: center;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transition: all .5s;
    border: 1px solid #000;
    cursor: pointer;
}

.swiper-navBtn:hover {
    background: rgba(255, 255, 255, 1);
}


.swiper-button-next {
    position: absolute;
    left: 3%;
    top: 50%;
}

.swiper-button-prev {
    position: absolute;
    right: 3%;
    top: 50%;
}

.card-info {
    z-index: 5;
    position: absolute;
    bottom: 0;
    right: 0%;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 20%;
}

.white-btn {
    background: #fff;
    color: #000;
    transition: all .5s;
    padding: 10px;
}

.white-btn:hover {
    background: #000;
    color: #fff;
    font-size: 20px;
}

.black-btn {
    background: #000;
    color: #fff;
    transition: all .5s;
    border: 2px solid #000;
    padding: 10px;
    font-weight: 300;
}

.black-btn:hover {
    background: #fff;
    color: #000;
    border: 2px solid #000;
    font-size: 20px;
}

nav {
    background: #000;
    color: #fff;
    position: fixed !important;
    width: 100% !important;
    z-index: 99;
    top: 0 !important;
}

.navbar-brand {
    color: #fff !important;
    font-size: 25px;
    transition: all .5s;
}

.navbar-brand:hover {
    color: #a8a8a8;
}

.nav-link {
    color: #fff;
    transition: all .5s;
    font-size: 20px;
    text-transform: capitalize;
}

.nav-link:hover {
    color: #a8a8a8;
}

.navbar-toggler-icon {
    color: #fff;
}

.navbar-expand-lg .navbar-collapse { 
    justify-content: flex-end;
}

.navbar>.container, .navbar>.container-fluid {
    align-items: flex-end;
}
/* about me section - home page */
.me {
    max-width: 25%;
}

.my-image {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.my-image img {
    width: 100%;
}

.about-me {
    width: 70%;
    margin-left: 4rem;
}

.about-me a i {
    font-size: 20px;
}

.two-btns-wrapped {
    width: 100%;
    display: flex;
    justify-content: left;
}

/* my work page */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 5px;
    column-gap: 5px;
    margin: 2rem 0;
}

.grid-item {
    font-size: 30px;
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.grid-item img {
    max-width: 100%;
    opacity: 1;
    transition: all .5s;
}

.grid-item img:hover {
    opacity: 0.5;
}

/* contact us */
.reach-out {
    font-weight: 200;
}

.contact-wrapped {
    display: flex;
    flex-direction: column;
}

.contact-socials {
    display: flex;
    flex-direction: row;
}

.contact-wrapped a {
    font-size: 20px;
    color: #000;
    transition: all .5s;
}

.contact-wrapped a:hover {
    color: #a8a8a8;
}

/* work page */
.work-page {
    margin-top: 6rem !important;
}

.work-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 5px;
    column-gap: 5px;
    margin: 2rem 0;
}

.work-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work-desc {
    width: 60%;
}

.work-img {
    width: 35%;
}

.work-img img {
    max-width: 100%;
}

.work-next {
    position: absolute;
    left: 35%;
    top: 60%;
    background: #000 !important;
    opacity: 1;
    transition: all .5s;
}

.work-next:hover {
    opacity: 0.5;
}

.work-prev {
    position: absolute;
    right: 35%;
    top: 60%;
    background: #000 !important;
    opacity: 1;
    transition: all .5s;
}

.work-prev:hover {
    opacity: 0.5;
}

.swiper-work-slide {
    height: 400px !important;
}

/* responsiveness */

@media (max-width: 1200px) { 
    /* generic styles */

    /* header */

    /* homepage */
    .card-info {
        bottom: 50px;
    }

    /* Portfolio */

    /* generic work page */

    /* contact */

}

@media (max-width: 992px) { 
    /* generic styles */

    /* header */

    /* homepage */
    .swiper-button-next, .swiper-button-prev {
        top: 35%;
    }

    .card-info {
        bottom: 150px;
    }
    
    .about-me-wrapped {
        margin-top: 0 !important;
        margin-bottom: 4rem;
    }

    .my-story {
        flex-direction: column;
        align-items: center;
    }

    .me {
        max-width: 40%;
        margin-bottom: 4rem;
    }

    .about-me {
        width: 100%;
        margin-left: 0;
    }

    /* Portfolio */
    .grid-container {
        grid-template-columns: auto auto auto;
    }

    /* generic work page */
    .work-prev, .work-next {
        top: 50%;
    }

    .work-next {
        left: 30%;
    }

    .work-prev {
        right: 30%;
    }

    /* contact */

}

@media (min-width: 990px) {
    .navbar-toggler-icon {
        display: flex !important;
    }

    .navbar>.container, .navbar>.container-fluid {
        align-items: flex-end;
    }

    .small-nav {
        display: flex;
        align-items: end;
    }

    .navbar-toggler-icon i {
        color: #fff;
        transition: all .5s;
    }

    .navbar-toggler-icon i:hover {
        color: #a8a8a8;
    }
}

@media (max-width: 768px) { 
    /* generic styles */

    /* header */
    .small-nav {
        margin: 0 2rem;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .navbar-nav {
        margin: 1rem 0;
        text-align: center;
    }

    .collapse.show {
        margin-bottom: 1rem;
    }

    /* homepage */
    .card-info {
        bottom: 120px;
    }

    /* Portfolio */
    .grid-container {
        grid-template-columns: auto auto;
    }

    /* generic work page */
    .work-container {
        flex-direction: column;
        align-items: center;
    }

    .work-desc {
        width: 100%;
        margin-bottom: 4rem;
    }

    .work-img {
        width: 100%;
    }

    .work-prev, .work-next {
        top: 85%;
    }

    .work-prev {
        right: 40%;
    }

    .work-next {
        left: 40%;
    }

    /* contact */

}

@media (max-width: 576px) { 
    /* generic styles */

    .main-header {
        font-size: 30px;
    }

    /* header */

    /* homepage */
    .swiper-wrapper {
        height: 70vh;
    }

    .card-info {
        bottom: 50px;
    }

    .swiper-button-next {
        left: 8%;
    }

    .swiper-button-prev {
        right: 8%;
    }

    .swiper-navBtn {
        width: 35px;
        height: 35px;
    }

    .swiper-button-next, .swiper-button-prev {
        top: 45%;
    }


    /* Portfolio */

    /* generic work page */
    .work-prev, .work-next {
        top: 75%;
    }

    .work-prev {
        right: 40%;
    }

    .work-next {
        left: 40%;
    }

    .work-grid-container {
        grid-template-columns: auto auto;
    }
    /* contact */

}

@media (min-width: 575px) {
    .navbar>.container, .navbar>.container-fluid {
        align-items: flex-end;
    }
}

@media (max-width: 420px) { 
    /* generic styles */

    /* header */

    /* homepage */
    .swiper-wrapper {
        height: 50vh;
    }

    .swiper-navBtn {
        width: 30px;
        height: 30px;
    }

    .mobile {
        display: none;
    }

    .swiper {
        top: 2.5rem;
    }

    .about-me-wrapped {
        margin-top: 50px !important;
    }

    .my-story {
        margin: auto 1.5rem;
    }

    .me {
        max-width: 60%;
        margin-bottom: 3rem;
    }


    /* Portfolio */
    
    /* generic work page */
    .work-prev, .work-next {
        top: 80%;
    }
    
    /* contact */

}

